<div class="row">
    <div class="small-6 small-centered columns">
         <div class="input-group">
          <span class="input-group-label">@</span>
          <input class="input-group-field" type="number">
          <div class="input-group-button">
            <input type="submit" class="button" value="Enviar">
          </div>
          </div>
    </div>
</div>