<%= form_for(user) do |f| %>
<div class="row">
 <div class="small-8 small-centered columns">
<h1>Prueba de correo</h1>
  <% if user.errors.any? %>
  <div class="alert callout" data-closable>
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>    
            <%= message %>
      <% end %>
      </ul>
     </div>
  <% end %>

   
         <div class="input-group">
             <label>Nombre
                <%= f.text_field :name %>
             </label>
        </div>
        <div class="input-group">
             <label>Correo
                <%= f.email_field :email %>
             </label>
        </div>
        <div class="input-group">
             <label>Login
                <%= f.text_field :login %>
             </label>
        </div>
        <div class="input-group">
          <%= f.submit "crear", class:"button success" %>
        </div>
    </div>
</div>
<% end %>